.projects_house {
	padding: 15px;
	font-size: 20px;
	color: #fff;
	background-color: #35B2C4;
 }

.container {
	width: 1140px;
	margin: 0 auto;
}

.project_logo {
	margin-top: 50px;
	color: #333333;
	font-size: 36px;
}

.soon {
	text-align: center;
}



